*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    height: 100%;
}


#gridcuerpo{
    width: 100%;
    height: 100%;
    padding: 1px;
    overflow-x: auto;
    text-align: center;
    display: grid;
    gap: 100px;
    min-height: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
   
}

header{
width: 100%;

    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-columns: "1fr";
    grid-template-rows: .5fr .5fr ;
    align-items: center;
    grid-template-areas: 
    "logodelhotel"
    "botonesheader"
    ;
    justify-content: center
    ;
    font-family: 'Cabin', sans-serif;
    background-color: lightblue;
}

ul li{
    display: inline;
}

main{
    font-family: 'Cabin', sans-serif;
    grid-area: main;
    position: sticky;
    display: grid;
    grid-area: main;
    grid-template-areas: 
    ". titulodelhotel titulodelhotel titulodelhotel . "
    ". textodelhotel textodelhotel textodelhotel . "
    ". fotodelhotel fotodelhotel fotodelhotel . "
    ". titulodeinput titulodeinput titulodeinput . "
    ". elinput elinput elinput . "
   
}

#tablas2{
    display: block;
    padding-bottom: 40px;
    
}

.tabla{
    display: flex;
    justify-content: center;

}

.breakpoint{
    max-width: 100%;
    display: inline-block;
}

#logodelhotel{
    grid-area: logodelhotel;
    
}

.logohotel1{
    transition: .2s;
}

.logohotel1:hover{
    
    transform: scale(1.10);
}



#botonesheader{
    display: inline;
}

#botonhotel {
    font-weight: bold;
    border: 0.5px solid;
    background-color: white;
    
    

} 



#botonhabitaciones{
    font-weight: bold;
    border: 0.5px solid;
    background-color: white;
}

#botonservicios{
    font-weight: bold;
    border: 0.5px solid;
    background-color: white;
}

#botoncontactos{
    font-weight: bold;
    border: 0.5px solid;
    background-color: white;
}

#titulodelhotel{
   
    grid-area: titulodelhotel;
    align-items: center;
    text-align: center;
}
#textodelhotel
{grid-area:textodelhotel;
justify-items: center;
text-align: center;}

#fotodelhotel{
    grid-area: fotodelhotel;
    justify-items: center;
    padding: 20px;
}

#titulodeinput{
    justify-content: center;
    grid-area: titulodeinput;
    text-align: center;
    padding-bottom: 20px;

}

#elinput{
    padding-bottom: 100px;
    grid-area: elinput;
    text-align: center;

}

#mainnuestrohotel{
    display: flex;
    flex-wrap: wrap;
    display: block;
    justify-content: center ;
}

#textohotelhotel{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

#fotohotelafuera{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#fotopileta{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#mainservicios{
    display: block;
    justify-content: center;
}

#pool{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 30%;
    padding-right: 30%;
}

#pooltxt{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30px;
}

#comida{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 30%;
    padding-right: 30%;
    
}

#comidatxt{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30px;
}

#reserva{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 30%;
    padding-right: 30%;
}

#reservatxt{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30px;
}

#maincontacto{
    display: block;
    justify-content: center;
}

#imgcontacto{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#textocontacto{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#formcontacto{
    display: flex;
    justify-content: center;
}

#cajadetextocontacto{
    display: flex;
    justify-content: center;
}

#inputcontacto

#tabla{
    justify-items: center;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: 'Cabin', sans-serif;
        display: grid;
    grid-template-columns: "1fr";
    grid-template-rows: .5fr .5fr ;
    align-items: center;
    font-size: small;
    background-color: lightblue;
    text-align: center;
grid-area: footer;
display: inline;

}


@media screen and (max-width:1200px) { 
    .griddelcuerpo{  
        grid-template-areas: 
        "header"
        "main"
        "footer"

    }
    
}

    


@media screen and  (max-width:1024px) { 
    .griddelcuerpo{  
        grid-template-areas: 
        "header"
        "main"
        "footer"

    }
    
}

@media screen and  (max-width:768px) { 
    .griddelcuerpo{  
        grid-template-areas: 
        "header"
        "main"
        "footer"

    }
    
}


@media screen and (max-width:480px) 
{ 
    .griddelcuerpo{  
        grid-template-areas: 
        "header"
        "main"
        "footer"

    }
    
}


@media screen and (max-width:320px) 
{ 
    .griddelcuerpo{  
        grid-template-areas: 
        "header"
        "main"
        "footer"

    }
    
}