*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#gridcuerpo{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header header"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "footer footer footer footer footer footer"
    
    ;
   
}

header{
width: 100%;

    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-columns: "1fr";
    grid-template-rows: .5fr .5fr ;
    align-items: center;
    grid-template-areas: 
    "logodelhotel"
    "botonesheader"
    ;
    justify-content: center
    ;
    font-family: 'Cabin', sans-serif;
    background-color: lightblue;
}

ul li{
    display: inline;
}

main{
    font-family: 'Cabin', sans-serif;
    grid-area: main;
    position: sticky;
    display: grid;
    grid grid-area: main;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". titulodelhotel titulodelhotel titulodelhotel . "
    ". textodelhotel textodelhotel textodelhotel . "
    ". fotodelhotel fotodelhotel fotodelhotel . "
    ". titulodeinput titulodeinput titulodeinput . "
    ". elinput elinput elinput . "
   
}

.breakpoint{
    max-width: 100%;
    display: inline-block;
}

#logodelhotel{
    grid-area: logodelhotel;
}

#botonesheader{
    display: inline;
}


#titulodelhotel{
   
    grid-area: titulodelhotel;
    align-items: center;
    text-align: center;
}
#textodelhotel
{grid-area:textodelhotel;
justify-items: center;
text-align: center;}

#fotodelhotel{
    grid-area: fotodelhotel;
    justify-items: center;
    padding: 20px;
}

#titulodeinput{
    justify-content: center;
    grid-area: titulodeinput;
    text-align: center;
    padding-bottom: 20px;

}

#elinput{
    padding-bottom: 50px;
    grid-area: elinput;
    text-align: center;
}

#tabla{
    justify-items: center;
}

footer{
    width: 100vw;
    position: fixed;
    bottom: 0;
    font-family: 'Cabin', sans-serif;
    display: flex;
    font-size: small;
    background-color: lightblue;
    text-align: center;
grid-area: footer;
display: inline;

}


@media screen (max-width:1200px) {
    .body
    
}

@media screen (max-width:1024px) {
    .body
    
}

@media screen (max-width:768px) {
    .body
    
}

@media screen (max-width:480px) {
    .body
    
}

@media screen (max-width:320) {
    .body
    
}