*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family:'Cabin', sans-serif;
 
}
body{
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;


}
.header{
  height: 100px;
  background-color: lightblue;
  padding: 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
  font-size: large;
  
}

.logohotel1 {
width: 50%; 
transition: ease-in 0.3s;
}

.logohotel1:hover{
  transform: scale(1.07);}


.botonhover{
  padding: 5px;
  transition: 0.3s
}


.mostrarmenu, 
.escondermenu{
cursor: pointer;
transition: 0.5s;
display: none;
}

.botonhover:hover {
color:white ;
}


.landingcontainer{
  display: -ms-flex;
	display: -webkit-flex;
	display: flex; 
  min-height: 79.3vh;
  

}


.landingizquierda{
  
text-align: center;

}



.landingderecha{
 
text-align: center;
}

.titulolanding{
  font-size: 2rem;
  font-weight: bolder;

}

.textolanding{
  margin-top: 10px;
  font-size: large;
  padding-left: 20%;
  padding-right: 20%;
}

.textolanding2{
  font-style: italic;
  margin-top: 10px;
  font-size: medium;
  padding-left: 20%;
  padding-right: 20%;
}


.fotolanding{
  width: 60%;
  margin-top: 70px;
  margin-bottom: 20px;
  border-radius: 15%;
  transition: ease-in 0.3s;
  
}

.fotolanding:hover{
  transform: scale(1.1);
}

.landingderecha{padding-left: 20px;
  padding-right: 20px;
  
  

}
 
.tarjetainputlanding{
  padding: 50px;
  margin-top: 100px;
  background-color: blue;
  border: thin;
  border-radius: 25%;
  text-align: center;
  margin-right: 50px;
  
}

.tituloinputlanding{
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 2rem;
  font-style: italic;
  
}
.inputdelanding{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.submitlanding{
  font-weight: bold;
  margin-top: 20px;
  padding: 3px;
background-color: white;
border-radius: 25%;
border: none;
transition: 0.5s;
}
.submitlanding:hover{
  background-color: red;
  cursor: pointer;
  
}

.textohotelhotel{
width: fit-content;
padding-left: 20%;
padding-right: 20%;
margin-top: 20px;
}
.mainelhotel{
    display: block;
    
    text-align: center;
  }
.contenedorfotohotel{
   align-self: center;
   margin-top: 30px ;
  }

  
.imgfotopileta{
  margin-bottom: 30px;
  
}

.textohotelhotel2{
width: fit-content;
padding-left: 20%;
padding-right: 20%;
margin-top: 20px;
}


.tabla{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.mainhabitaciones{
  display: block;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.habitacionesimg{
  border-radius: 15%;
}

.textohabitaciones{
  
 margin-left: 30%;
 margin-right: 30%;
 margin-bottom: 10px;
}

.mainservicios{
  display: block;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.contenedordefotoservicios{
  align-items: center;
  
}


.fotoservicios{
 margin-top: 20px;
  width: 50vw;
  border-radius: 15%;
  transition: ease-in 0.3s;
}

.fotoservicios:hover{
  scale: 1.1;
}

.textoservicios{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70vw;
}

.maincontacto{
  display: block; text-align: center;
}

.contenedorimgcontacto{
  align-items: center;
}

.imgcontacto{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90vw;
}

.cajadetextocontacto{
  width: 100%;
text-align: center;}
.cajacontacto{
  width: 100%;
  
}

.contenedorinputcontacto{
  padding-top: 5px; 
  padding-bottom: 40px;
  
}

.inputcontacto{
  font-weight: bolder;
  padding: 10px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10%;
}

.footer{
  background-color: lightblue;
  height: 50px;

  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footerlista{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  text-align: center;

  
}

.footericonos{
  height: 40px;
  align-content: center;
  padding:5px 10px;
}


