footer{
    width: 100%;
    display: inline;
    position: relative;
    bottom: 0;
    left: 0;
    right 0; 
    font-family: 'Cabin', sans-serif;
    display: flex
    align-items: center;
    font-size: small;
    background-color: $colorprincipal;
    text-align: center;
    grid-area: footer;

    

}