header{
    width: 100vh;
    margin: 0;
    grid-area: header;
    align-items: center;
    display: block;
    text-align: center;
    grid-template-columns: ".5fr";
    grid-template-rows: .5fr .5fr ;
    align-items: center;
    grid-template-areas: 
    "logodelhotel"
    "botonesheader"
    ;
    justify-content: center
    ;
    font-family: 'Cabin', sans-serif;
    background-color: $colorprincipal;

        ul li{
                display: inline
        }
        #logodelhotel{
            grid-area: logodelhotel;  
            justify-content: center;        
        }
        .logohotel1{
            transition: .2s;
            &:hover{
                transform: scale(1.10);
            }
        #botonesheader{
                display: inline;
            }
            
        #botonhotel {
                @include botonesheaderstyle
            } 
            
            
        #botonhabitaciones{
                @include botonesheaderstyle
                
            }
            
        #botonservicios{
                @include botonesheaderstyle
            }
            
        #botoncontactos{
                @include botonesheaderstyle
            }
        }
}