main.mainservicios{
    display: block;
    text-align: center;
    align-self: center;
    justify-self: center;
  
    &__contenedor-de-fotos{
      align-items: center;
  
      &-servicios{
        &__fotos{
          margin-top: 20px;
          width: 50vw;
          border-radius: 15%;
          transition: ease-in 0.3s;
  
          &:hover{
            scale: 1.1;
          }
        }
      }
    }
  
    &__texto{
      margin-top: 10px;
      margin-bottom: 10px;
      width: 70vw;
    }
  }