@mixin botonesheaderstyle{
    font-weight: bold;
    border: 0.5px solid;
    background-color: white;
}

@mixin fotospag3{
    display: flex;
        justify-content: center;
        padding-bottom: 30px;
        padding-left: 30%;
        padding-right: 30%;
}

@mixin textospag3{
    display: flex;
        justify-content: center;
        text-align: justify;
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 30px;
}