*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Cabin', sans-serif;
   
  }
  body{
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
  
  }